/* color variables */

$interaction-clr: #000;
$interaction-clr-alt: #ccc;
$highlight-interaction-clr: #00f;

$text-clr: #111;
$highlight-text-clr: #333;

$bk-clr: #fff;
$highlight-text-bk-clr: #0ff;
$translucent-bk-clr: rgba( 100%, 100%, 100%, 0.92 );
$first-author-bk-clr: rgba( 0, 255, 255, 0.1 );
$second-author-bk-clr: rgba( 255, 0, 255, 0.1 );
$popup-bk-clr: rgba( 100%, 100%, 100%, 0.95 );